<div class="container">
<div class="row">
    <div id="colPush" class="span0"></div>
    <div id="colMain" class="span12">
        <a id="trig" class="btn btn-inverse">Sidebar Toggle</a>
    </div>
    
  </div>
</div>